# Export all names not beggining with .
exportPattern("^[^\\.]")
#Alternative: export functions explicitly (and do not export internal functions)
## export(dbs, dgs, dls, dmand, dmzsm, dpareto, dpoilog, dpower, drbs, dtrunc, dvolkov, dzipf,
##        fitbs, fitgamma, fitgeom, fitgs, fitlnorm, fitls, fitmand, fitmzsm, fitnbinom, fitpareto, fitpoilog, fitpower,
##        fitrad, fitrbs, fitsad, fitvolkov, fitweibull, fitzipf,
##        octav, 
##        pbs, pgs,
##        plotprofmle,
##        pls, pmand, pmzsm, ppareto, ppoilog, ppower,
##        pprad, ppsad,
##        prbs,
##        ptrunc,
##        pvolkov, pzipf,
##        qbs, qgs, qls, qmand, qpareto, qpoilog, qpower,
##        qqrad, qqsad,
##        qrbs,
##        qtrunc,
##        qvolkiv, qzip,
##        rad, rsad, trueLL)
## Explicit classes and methods export
exportClasses(rad,octav,fitsad,fitrad)
exportMethods(plot, points, lines, AICc, octavpred, radpred)
## Import specific functions from other packages used by new methods
importFrom("graphics",plot, points, lines)
#importFrom("bbmle", AICc)
## Import a single function from VGAM and untb
importFrom("VGAM",zeta)
importFrom("untb", volkov, optimal.theta)
## Import all packages listed as Imports or Depends
import(
  methods,
  MASS,
  #gtools,
  bbmle,
  #fAsianOptions,
  #zipfR,
  poilog
  )
