# Export all names
exportPattern(".")
#Alternative: do not export internal functions
##export(dls,dpoig,dpoilog,dpoix,dpower,dtrunc,dzipf,fitsad,octavpred,octav,
#       plotprofmle,pls,ppoilog,ppower,pth,ptrunc,pzipf,qls,qpoilog,qth,qtrunc,qzipf,radpred,rad, trueLL,trunc)
## Import specific functions from graphics used by new methods
importFrom("graphics",plot, points, lines)
importFrom("bbmle", AICc)
## Import a single function from VGAM and untb
importFrom("VGAM",zeta)
importFrom("untb", volkov, optimal.theta)
## Explicit classes and methods export
exportClasses(fitsad,fitsadlist,rad,octav)
exportMethods(plot, points, lines, AICc)
## From bbmle package
#importClassesFrom(stats4,mle)
#importFrom(stats4,coef,confint,logLik,BIC,summary,profile,vcov,AIC, update, plot)
#importFrom(stats,
#           anova,deviance,residuals,
#           simulate,predict,formula)
#importFrom(lattice,xyplot,splom)  ## for slice methods
#importFrom(numDeriv,hessian,grad)
#importClassesFrom(bbmle,mle2)

## Import all packages listed as Imports or Depends
import(
  methods,
  MASS,
  #gtools,
  bbmle,
  #fAsianOptions,
  #zipfR,
  poilog
  )
